/* =Navigation
-------------------------------------------------------------- */
#navi-open:target nav {
  display: block;
}

#branding {

  nav {
    background-color: $navigation;
    width: 100%;
    float: left;
    display: none;
    position: relative;
    z-index: 999;
    line-height: 30px;
    ul {
      list-style: none;
      margin: 0 auto;
      padding-left: 0;
    }
    li {
      float: left;
      width: 100%;
      padding-bottom: 2px;
      list-style: none;
      ul {
        display: none;
      }
    }
    a {
      display: block;
      text-decoration: none;
      padding: 1em;
      &:link,
      &:visited {
        color: white;
      }
      &:hover,
      &:focus {
        background-color: $primary;
        color: white;
      }
    }
  }
}

.nav-toggle {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    background: $primary;
    color: white;
  }
}

.nav-hide {
  display: none;
}

#navi-open:target .nav-hide {
  display: block;
}

#navi-hide:target .nav-hide {
  display: none;
}

@media screen and (min-width: $breakpoint) {
  .nav-toggle {
    display: none;
  }
  #branding {

    nav {
      display: block;
      height: 40px;
      margin-bottom: 30px;
      @include rounded(8px);
      ul {
        background-color: $navigation;
        padding-left: 20px;
        display: block;
      }
      li {
        width: inherit;
        float: left;
      }
      a {
        &:link,
        &:visited {
          display: inline-block;
          padding: 5px 15px;
        }
      }
      ul {
        li {
          float: left;
          list-style: none;
          position: relative;
          &:hover > ul {
            display: block;
          }
          a {
            margin: 0;
            padding: 9px 14px;
            display: block;
            border-bottom: none;
          }
          &:first-child {
            margin: 0;
          }
        }
        ul {
          display: none;
          float: left;
          position: absolute;
          top: 40px;
          left: 0;
          z-index: 99999;
          padding: 0;
          li {
            .current_page_item {
              background-color: $primary;
            }
          }
          a {
            background-color: $navigation;
            padding: 9px 14px;
            width: 11em;
            height: auto;
            text: {
              transform: none;
              align: left;
            }
          }
          :hover > a,
          a:hover {
            background-color: $primary;
          }
        }
      }
    }
  }
}